@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.snipper {
  position: relative;
  width: 100%;
  height: 100vh;
}
.loder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  border: 12px solid #e3e3e3;
  border-radius: 50%;
  border-right-color: #dc2626;

  animation: load8 1.1s infinite ease;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.atamicfont {
  font-family: "Amatic SC", cursive;
}
/*  */
section#background {
  background: url(./images/diningTab.jpg) center fixed;
  background-size: cover;
}
.menue .active {
  color: #dc2626;
  border-bottom-color: #dc2626;
}

.splide__pagination .is-active {
  color: #dc2626 !important;
}
.contact .informations > div {
  width: 49%;
}

@media (max-width: 992px) {
  .contact .informations > div {
    width: 100%;
  }
}

header.stikky {
  height: 5rem;
  /* background: white; */
  border-bottom: #f0e8e8 1px solid;
}
header nav.h-full .nav-link {
  font-weight: 700;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav.h-full .nav-link.active,
header nav.h-full .nav-link:hover {
  color: #dc2626;
}
header.mobileView nav.h-full .nav-link.active,
header.mobileView nav.h-full .nav-link:hover {
  color: white;
}
header nav.h-full .nav-link.active::before,
header nav.h-full .nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 40%;
  height: 2px;
  background-color: #dc2626;
}
header.mobileView nav.h-full .nav-link.active::before,
header.mobileView nav.h-full .nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  width: 40%;
  background-color: #e3e3e3;
}

/* nav.navbar #content {
  width: calc(100% / 3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 640px) {
  nav.navbar .content {
    position: fixed;
    top: 100px;
    right: 0;
    height: calc(100vh - 97px);
    display: flex;
    flex-direction: column;
    background-color: #dc2626;
  }
} */
